*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    
    background-color: rgba(14, 1, 1, 0.904);
}


h1{
    padding-bottom: 2%;
    padding-top: 2%;
    font-style: normal;
    color: rgba(255, 255, 255, 0.973);
    text-align: center;
}

fieldset{
    background-color: rgba(12, 12, 31, 0.651);
    text-align: center;
    width: 60%;
    margin-left: 5%;
    border-radius: 25%;
    margin-bottom: 5%;
    transition:  .2s;
    
}
.btn{
    background-color: #581f1fd7;
    color: beige;
    text-decoration: none;
    border: 2px solid ;
    box-shadow: inset;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .2s;
}

.btn:hover{
    transform: scale(1.2);
}

legend{
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.397);
    color: aliceblue;
    font-size: 30px;
}
label{
    color: azure;
    font-size: 20px;
}

.head{
    min-height: 50px;
    background-color: rgba(61, 53, 29, 0.979);
    margin-bottom: 2px;
}

.contact {
    background-color: gray;

    width: 100%;
    
    
}

.contact1{
    width: 30%;
    min-height: 400px;
    
    
    
    float: left;
    margin-top: 3%;
    margin-left: 5%;
}

.contact2{
    width: 65%;
    min-height: 400px;
    
    float: right;
}

img{
    width: 80%;
    min-height: 400px;
}